@import 'variables';

body {
    background: $primary-gradient;
}

#login-container {
    height: 100vh;
    display: flex;
}
#login-card {
    width: 400px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    
    .input-group-addon {
        width: 40px;
        display: flex;
        justify-content: center;
    }
    .login-info {
        text-align: right;
    }
}