@import 'variables';

.sidebar {
    height: 100vh;
    background: $primary-gradient-reverse;
    width: 200px;
    float: left;
    position: fixed;
    margin-top: 50px;
    z-index: 11;
    text-transform: uppercase;
    overflow-y: hidden;
    ul {
        list-style: none;
        padding-left: 0px;
        padding-top: 10px;
        li {
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: lighten($color: $primary-color, $amount: 30);
            transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
            &.active {
                background: darken($color: $secondary-color, $amount: 10);
                border-left: 5px solid lighten($color: $primary-color, $amount: 30);
                padding-left: 15px;
            }
            &:hover {
                a {
                    color: lighten($color: $primary-color, $amount: 100);
                }
                &.active {
                    border-left-color: white;
                }
            }
            a {
                text-decoration: none;
                color: lighten($color: $primary-color, $amount: 40);
                transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
                h4 {
                    display: inline;
                    padding-left: 10px;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .sidebar-image {
        width: 100%;
        position: absolute;
        bottom: -100px;
        left: -20px;
        opacity: 0.7;
        mix-blend-mode: luminosity;
    }
}